.pagination {
  text-align: center;
}

.pageinfo {
  text-align: center;
  margin-top: 20px;
  color: #777;
}

.pager a {
  color: #5cc7d1;
}

@media (min-width: 768px) {
  .pagination {
    text-align: right;
  }

  .pageinfo {
    text-align: left;
  }
}

.pager > ul > li > a {
  outline: none;
}

@media (max-width: 768px) {
  .pagination {
    padding-bottom: 50px;
  }

  .pagination > ul > li > a,
  .pagination > ul > li > span {
    padding: 6px 10px;
    font-size: 14px;
  }

  .pager > ul {
    margin: 20px 0 0;
  }

  .pager > ul > li {
    margin: 0 2px;
  }

  .pager > ul > li > a {
    padding: 6px 20px;
  }
}
