.order {
  text-align: center;
  color: #a1a1a1;
}

.order span {
  margin-right: 3px;
}

.orderNum {
  width: 45px;
  display: inline-block;
  margin: 0 0 0 10px;
  height: 15px;

  :global(.form-control) {
    padding: 1px 3px;
    height: 22px;
    text-align: center;
  }
}

.pointer {
  cursor: pointer;
}
