.page-header {
  color: #222;
}

@media (min-width: 992px) {
  .header {
    position: relative;
  }

  .headerbtn {
    position: absolute;
    right: 15px;
    top: 30px;
  }
}

@media (max-width: 768px) {
  .headerbtn div span,
  .headerbtn div a {
    padding: 6px 11px;
    margin-top: 3px;
    margin-bottom: 2px;
  }
}
