input.toggle[type="checkbox"]:focus {
  outline: none;
}

.toggle {
  appearance: none;
  position: relative;
  width: 52px;
  height: 32px;
  border: 1px solid #dfdfdf;
  border-radius: 16px;
  box-sizing: border-box;
  background: #dfdfdf;
  outline: none;
}

.toggle::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  background-color: #fdfdfd;
  transition: transform 0.3s;
}

.toggle::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
}

.toggle:checked {
  border-color: #337ab7;
  background-color: #337ab7;
}

.toggle:checked::before {
  transform: scale(0);
}

.toggle:checked::after {
  transform: translateX(20px);
}
